In [67]:
import pandas as pd

In [68]:
data = pd.read_csv('lego_sets.csv')
data.head()

,set_id,name,year,theme,subtheme,themeGroup,category,pieces,minifigs,agerange_min,US_retailPrice,bricksetURL,thumbnailURL,imageURL
0,1-8,Small house set,1970,Minitalia,NaN,Vintage,Normal,67.0,NaN,NaN,NaN,https://brickset.com/sets/1-8,https://images.brickset.com/sets/small/1-8.jpg,https://images.brickset.com/sets/images/1-8.jpg
1,2-8,Medium house set,1970,Minitalia,NaN,Vintage,Normal,109.0,NaN,NaN,NaN,https://brickset.com/sets/2-8,https://images.brickset.com/sets/small/2-8.jpg,https://images.brickset.com/sets/images/2-8.jpg
2,3-6,Medium house set,1970,Minitalia,NaN,Vintage,Normal,158.0,NaN,NaN,NaN,https://brickset.com/sets/3-6,https://images.brickset.com/sets/small/3-6.jpg,https://images.brickset.com/sets/images/3-6.jpg
3,4-4,Large house set,1970,Minitalia,NaN,Vintage,Normal,233.0,NaN,NaN,NaN,https://brickset.com/sets/4-4,https://images.brickset.com/sets/small/4-4.jpg,https://images.brickset.com/sets/images/4-4.jpg
4,4-6,Mini House and Vehicles,1970,Samsonite,Model Maker,Vintage,Normal,NaN,NaN,NaN,NaN,https://brickset.com/sets/4-6,NaN,NaN

### Removing whitespaces

In [69]:
data_copy = data.copy()

data_copy.columns = data_copy.columns.str.strip()

### Handling missing values

In [70]:
data.isnull().sum()

set_id                0
name                  0
year                  0
theme                 0
subtheme           3556
themeGroup            2
category              0
pieces             3924
minifigs          10058
agerange_min      11670
US_retailPrice    11475
bricksetURL           0
thumbnailURL       1006
imageURL           1006
dtype: int64

In [71]:
data_copy['themeGroup'] = data_copy['themeGroup'].fillna('NA')

In [72]:
data_copy.dtypes

set_id             object
name               object
year                int64
theme              object
subtheme           object
themeGroup         object
category           object
pieces            float64
minifigs          float64
agerange_min      float64
US_retailPrice    float64
bricksetURL        object
thumbnailURL       object
imageURL           object
dtype: object

In [73]:
data_copy['pieces'] = data_copy['pieces'].fillna(data_copy['pieces'].mean())

In [74]:
data_copy['minifigs'] = data_copy['minifigs'].fillna(data_copy['minifigs'].mean())
data_copy['US_retailPrice'] = data_copy['US_retailPrice'].fillna(data_copy['US_retailPrice'].mean())

### Dropping useless columns

In [ ]:


data_copy.drop(['agerange_min','bricksetURL','thumbnailURL','imageURL'], axis = 1,inplace = True)

In [75]:
data_copy.isnull().sum()

set_id               0
name                 0
year                 0
theme                0
subtheme          3556
themeGroup           0
category             0
pieces               0
minifigs             0
US_retailPrice       0
dtype: int64

In [76]:
data_copy['subtheme'] =  data_copy['subtheme'].fillna('NA')

In [77]:
data_copy.shape

(18457, 10)

In [78]:
data_copy.duplicated().sum()

0

In [79]:
data_copy.describe()

               year        pieces      minifigs  US_retailPrice
count  18457.000000  18457.000000  18457.000000    18457.000000
mean    2007.960611    226.473749      2.663650       37.534817
std       11.948666    417.043540      1.954772       33.446517
min     1970.000000      0.000000      1.000000        1.490000
25%     2001.000000     32.000000      2.000000       29.990000
50%     2011.000000    136.000000      2.663650       37.534817
75%     2017.000000    226.473749      2.663650       37.534817
max     2022.000000  11695.000000     80.000000      849.990000

### Typecasting & rounding up price

In [80]:
data_copy['US_retailPrice'] = data_copy['US_retailPrice'].apply(lambda x : round(x, 2))
data_copy[['pieces', 'minifigs']] = data_copy[['pieces', 'minifigs']].astype(int)

In [81]:
data_copy

,set_id,name,year,theme,subtheme,themeGroup,category,pieces,minifigs,US_retailPrice
0,1-8,Small house set,1970,Minitalia,NA,Vintage,Normal,67,2,37.53
1,2-8,Medium house set,1970,Minitalia,NA,Vintage,Normal,109,2,37.53
2,3-6,Medium house set,1970,Minitalia,NA,Vintage,Normal,158,2,37.53
3,4-4,Large house set,1970,Minitalia,NA,Vintage,Normal,233,2,37.53
4,4-6,Mini House and Vehicles,1970,Samsonite,Model Maker,Vintage,Normal,226,2,37.53
...,...,...,...,...,...,...,...,...,...,...
18452,SHUTTLE-1,Space Shuttle,2022,Promotional,LEGO brand stores,Miscellaneous,Other,226,2,37.53
18453,SLSDUCK-1,SLS Duck,2022,Promotional,LEGO House,Miscellaneous,Other,1,2,37.53
18454,SUMMERWAVE-1,Summer Wave,2022,Promotional,LEGO Brand Stores,Miscellaneous,Other,39,2,37.53
18455,TRUSPIDERMAN-1,Spider-Man,2022,Marvel Super Heroes,Spider-Man,Licensed,Other,43,2,37.53
18456,YOTT-1,Tiger,2022,Miscellaneous,NA,Miscellaneous,Other,226,2,37.53

### To determine the decade

In [82]:
data_copy['decade'] = data_copy['year']//10*10

In [83]:
data_copy.groupby('year')['decade'].value_counts()

year  decade
1970  1970       41
1971  1970       78
1972  1970       45
1973  1970       76
1974  1970       40
1975  1970       45
1976  1970       76
1977  1970       74
1978  1970       87
1979  1970       90
1980  1980      117
1981  1980       74
1982  1980       73
1983  1980       76
1984  1980       84
1985  1980      141
1986  1980      152
1987  1980      200
1988  1980       79
1989  1980      146
1990  1990      129
1991  1990      147
1992  1990      112
1993  1990      168
1994  1990      154
1995  1990      172
1996  1990      213
1997  1990      264
1998  1990      383
1999  1990      352
2000  2000      384
2001  2000      409
2002  2000      449
2003  2000      426
2004  2000      419
2005  2000      395
2006  2000      467
2007  2000      449
2008  2000      443
2009  2000      487
2010  2010      529
2011  2010      591
2012  2010      703
2013  2010      710
2014  2010      757
2015  2010      808
2016  2010      845
2017  2010      861
2018  2010      829
2019  2010      848
2020  2020      849
2021  2020      944
2022  2020      967
Name: count, dtype: int64

In [85]:
data_copy.to_excel(r'C:\Users\ADMIN\Desktop\projects\LEGO+Sets\lego_sets_cleaned.xlsx', index=False)