In [138]:
import pandas as pd

In [139]:
data = pd.read_csv(r'C:\Users\ADMIN\Desktop\projects\UK+Train+Rides\railway.csv')

In [140]:
data.head()

,Transaction ID,Date of Purchase,Time of Purchase,Purchase Type,Payment Method,Railcard,Ticket Class,Ticket Type,Price,Departure Station,Arrival Destination,Date of Journey,Departure Time,Arrival Time,Actual Arrival Time,Journey Status,Reason for Delay,Refund Request
0,da8a6ba8-b3dc-4677-b176,2023-12-08,12:41:11,Online,Contactless,Adult,Standard,Advance,43,London Paddington,Liverpool Lime Street,2024-01-01,11:00:00,13:30:00,13:30:00,On Time,NaN,No
1,b0cdd1b0-f214-4197-be53,2023-12-16,11:23:01,Station,Credit Card,Adult,Standard,Advance,23,London Kings Cross,York,2024-01-01,09:45:00,11:35:00,11:40:00,Delayed,Signal Failure,No
2,f3ba7a96-f713-40d9-9629,2023-12-19,19:51:27,Online,Credit Card,NaN,Standard,Advance,3,Liverpool Lime Street,Manchester Piccadilly,2024-01-02,18:15:00,18:45:00,18:45:00,On Time,NaN,No
3,b2471f11-4fe7-4c87-8ab4,2023-12-20,23:00:36,Station,Credit Card,NaN,Standard,Advance,13,London Paddington,Reading,2024-01-01,21:30:00,22:30:00,22:30:00,On Time,NaN,No
4,2be00b45-0762-485e-a7a3,2023-12-27,18:22:56,Online,Contactless,NaN,Standard,Advance,76,Liverpool Lime Street,London Euston,2024-01-01,16:45:00,19:00:00,19:00:00,On Time,NaN,No

In [141]:
data.shape

(31653, 18)

In [142]:
data_copy = data.copy()

In [143]:
data_copy.head(5)

,Transaction ID,Date of Purchase,Time of Purchase,Purchase Type,Payment Method,Railcard,Ticket Class,Ticket Type,Price,Departure Station,Arrival Destination,Date of Journey,Departure Time,Arrival Time,Actual Arrival Time,Journey Status,Reason for Delay,Refund Request
0,da8a6ba8-b3dc-4677-b176,2023-12-08,12:41:11,Online,Contactless,Adult,Standard,Advance,43,London Paddington,Liverpool Lime Street,2024-01-01,11:00:00,13:30:00,13:30:00,On Time,NaN,No
1,b0cdd1b0-f214-4197-be53,2023-12-16,11:23:01,Station,Credit Card,Adult,Standard,Advance,23,London Kings Cross,York,2024-01-01,09:45:00,11:35:00,11:40:00,Delayed,Signal Failure,No
2,f3ba7a96-f713-40d9-9629,2023-12-19,19:51:27,Online,Credit Card,NaN,Standard,Advance,3,Liverpool Lime Street,Manchester Piccadilly,2024-01-02,18:15:00,18:45:00,18:45:00,On Time,NaN,No
3,b2471f11-4fe7-4c87-8ab4,2023-12-20,23:00:36,Station,Credit Card,NaN,Standard,Advance,13,London Paddington,Reading,2024-01-01,21:30:00,22:30:00,22:30:00,On Time,NaN,No
4,2be00b45-0762-485e-a7a3,2023-12-27,18:22:56,Online,Contactless,NaN,Standard,Advance,76,Liverpool Lime Street,London Euston,2024-01-01,16:45:00,19:00:00,19:00:00,On Time,NaN,No

In [144]:
data_copy.dtypes

Transaction ID         object
Date of Purchase       object
Time of Purchase       object
Purchase Type          object
Payment Method         object
Railcard               object
Ticket Class           object
Ticket Type            object
Price                   int64
Departure Station      object
Arrival Destination    object
Date of Journey        object
Departure Time         object
Arrival Time           object
Actual Arrival Time    object
Journey Status         object
Reason for Delay       object
Refund Request         object
dtype: object

In [145]:
data_copy.isnull().sum()

Transaction ID             0
Date of Purchase           0
Time of Purchase           0
Purchase Type              0
Payment Method             0
Railcard               20918
Ticket Class               0
Ticket Type                0
Price                      0
Departure Station          0
Arrival Destination        0
Date of Journey            0
Departure Time             0
Arrival Time               0
Actual Arrival Time     1880
Journey Status             0
Reason for Delay       27481
Refund Request             0
dtype: int64

In [146]:
data_copy.columns = data_copy.columns.str.replace(' ', '_')

In [147]:
data_copy['Date_of_Purchase'] = pd.to_datetime(data_copy['Date_of_Purchase'])

In [148]:
data_copy['Time_of_Purchase'] = pd.to_datetime(data_copy['Time_of_Purchase'], format = '%H:%M:%S').dt.time

In [149]:
data_copy['Purchase_Type'].unique()

array(['Online', 'Station'], dtype=object)

In [150]:
data_copy['Payment_Method'].unique()

array(['Contactless', 'Credit Card', 'Debit Card'], dtype=object)

In [151]:
data_copy['Railcard'].unique()

array(['Adult', nan, 'Disabled', 'Senior'], dtype=object)

In [152]:
data_copy['Railcard'].mode()

0    Adult
Name: Railcard, dtype: object

In [153]:
data_copy['Railcard'] = data_copy['Railcard'].fillna('Adult')

In [154]:
data_copy['Railcard'].unique()

array(['Adult', 'Disabled', 'Senior'], dtype=object)

In [155]:
data_copy['Ticket_Class'].unique()

array(['Standard', 'First Class'], dtype=object)

In [156]:
data_copy['Ticket_Type'].unique()

array(['Advance', 'Off-Peak', 'Anytime'], dtype=object)

In [157]:
data_copy['Price'] = pd.to_numeric(data_copy['Price'], errors='coerce')
data_copy['Price'].unique()

array([ 43,  23,   3,  13,  76,  35,   2,  37,   8,  15,   7,  86,  34,
        57,   5,  10,   4,  12,  33,  70,  16, 134,  29,  47,   6, 151,
        25,  21,  53,  19,   9,  20,  54,  17,  11,  84,  41, 200,  27,
        14, 107, 143,  22,  18, 235,  78,  50,  32, 108,  72, 106,  65,
        24,  52,  67,  90,  31,  48,  39,  59,  44,  95, 144, 114, 118,
       119,  38, 111,  56, 128, 113,  80, 267,  63,  97,  26, 101,  36,
       216,  93,  30,  82,  88,  71,  55, 126,  73, 110,  89,  51,  66,
       168,  69, 162,   1, 135,  28,  45, 129,  42,  49, 176, 180, 157,
       121,  77, 211, 104, 112,  96, 171, 146, 154,  64, 116, 158, 242,
       117, 178, 203, 238,  74, 109,  94, 102], dtype=int64)

In [158]:
data_copy['Departure_Station'].unique()

array(['London Paddington', 'London Kings Cross', 'Liverpool Lime Street',
       'London Euston', 'York', 'Manchester Piccadilly',
       'Birmingham New Street', 'London St Pancras', 'Oxford', 'Reading',
       'Edinburgh Waverley', 'Bristol Temple Meads'], dtype=object)

In [159]:
data_copy.columns

Index(['Transaction_ID', 'Date_of_Purchase', 'Time_of_Purchase',
       'Purchase_Type', 'Payment_Method', 'Railcard', 'Ticket_Class',
       'Ticket_Type', 'Price', 'Departure_Station', 'Arrival_Destination',
       'Date_of_Journey', 'Departure_Time', 'Arrival_Time',
       'Actual_Arrival_Time', 'Journey_Status', 'Reason_for_Delay',
       'Refund_Request'],
      dtype='object')

In [160]:
data_copy['Arrival_Destination'].unique()

array(['Liverpool Lime Street', 'York', 'Manchester Piccadilly',
       'Reading', 'London Euston', 'Oxford', 'Durham',
       'London St Pancras', 'Birmingham New Street', 'London Paddington',
       'Bristol Temple Meads', 'Tamworth', 'London Waterloo', 'Sheffield',
       'Wolverhampton', 'Leeds', 'Stafford', 'Doncaster', 'Swindon',
       'Nottingham', 'Peterborough', 'Edinburgh', 'Crewe',
       'London Kings Cross', 'Leicester', 'Nuneaton', 'Didcot',
       'Edinburgh Waverley', 'Coventry', 'Wakefield', 'Cardiff Central',
       'Warrington'], dtype=object)

In [161]:
data_copy['Date_of_Journey'] = pd.to_datetime(data_copy['Date_of_Journey'])

In [162]:
data_copy['Departure_Time']= pd.to_datetime(data_copy['Departure_Time'], format= '%H:%M:%S').dt.time

In [163]:
data_copy['Arrival_Time']= pd.to_datetime(data_copy['Arrival_Time'], format= '%H:%M:%S').dt.time

In [164]:
avg_arrival_time = pd.to_datetime(data_copy['Actual_Arrival_Time'],format='%H:%M:%S').mean().time().strftime('%H:%M:%S')

In [165]:
data_copy['Actual_Arrival_Time'] = data_copy['Actual_Arrival_Time'].fillna(avg_arrival_time)

In [166]:
data_copy['Actual_Arrival_Time'].isnull().sum()

0

In [167]:
data_copy['Journey_Status'].unique()

array(['On Time', 'Delayed', 'Cancelled'], dtype=object)

In [168]:
data_copy['Reason_for_Delay'] = data_copy['Reason_for_Delay'].str.strip()
data_copy['Reason_for_Delay'].unique()

array([nan, 'Signal Failure', 'Technical Issue', 'Weather Conditions',
       'Weather', 'Staffing', 'Staff Shortage', 'Signal failure',
       'Traffic'], dtype=object)

In [169]:
data_copy['Reason_for_Delay'].mode()

0    Weather
Name: Reason_for_Delay, dtype: object

In [170]:
data_copy['Reason_for_Delay'] = data_copy['Reason_for_Delay'].fillna('Weather')

In [171]:
def assign_reason (reason):
    if 'weather' in reason.lower():
        return 'Weather'
    elif 'signal' in reason.lower():
        return 'Signal Failure'
    elif 'staff' in reason.lower():
        return 'Staffing'
    else:
        return reason

In [172]:
data_copy['Reason_for_Delay'] = data_copy['Reason_for_Delay'].apply(assign_reason)

In [173]:
data_copy['Refund_Request'].unique()

array(['No', 'Yes'], dtype=object)

In [174]:
data_copy.isnull().sum()

Transaction_ID         0
Date_of_Purchase       0
Time_of_Purchase       0
Purchase_Type          0
Payment_Method         0
Railcard               0
Ticket_Class           0
Ticket_Type            0
Price                  0
Departure_Station      0
Arrival_Destination    0
Date_of_Journey        0
Departure_Time         0
Arrival_Time           0
Actual_Arrival_Time    0
Journey_Status         0
Reason_for_Delay       0
Refund_Request         0
dtype: int64

In [175]:
data_copy.dtypes

Transaction_ID                 object
Date_of_Purchase       datetime64[ns]
Time_of_Purchase               object
Purchase_Type                  object
Payment_Method                 object
Railcard                       object
Ticket_Class                   object
Ticket_Type                    object
Price                           int64
Departure_Station              object
Arrival_Destination            object
Date_of_Journey        datetime64[ns]
Departure_Time                 object
Arrival_Time                   object
Actual_Arrival_Time            object
Journey_Status                 object
Reason_for_Delay               object
Refund_Request                 object
dtype: object

In [176]:
data_copy.shape

(31653, 18)

In [177]:
data_copy.to_excel(r'C:\Users\ADMIN\Desktop\projects\UK+Train+Rides\railway_cleaned.xlsx', index= False)